*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #E4E0E1;
}
.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #493628;
    color: aliceblue;
    padding: .1vh 2vw;
    
    overflow: hidden;
}
.logo_title{
    display: flex;
    align-items: center;
    gap: 1vw;
    font-size: 1.8rem;
}
.logo_title img{
    width: 3vw;
    padding: 1vh 0vw;
}
#searchInput{
    width: 33%;
    padding: .8vh 1vw;
    border: none;
    border-radius: 1vw;
}
#searchInput:focus{
    outline: .4vw solid #e4e0e196;
}
.navLinks{
    width: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navLinks a{
    color: #E4E0E1;
    text-decoration: none;
    font-weight: bold;
    padding: .5vh 1vw;

}
.navLinks a.active{
    background-color: #E4E0E1;
    color: #493628;
    border-radius: 2vw;
}
.active #cart_counter{
    background-color: #493628;
    color: #E4E0E1;
    padding: 0vh 1vw;
    border-radius: 2vw;
}
#cart_counter{
    background-color: #E4E0E1;
    color: #493628;
    padding: 0vh .5vw;
    border-radius: .5vw;
    margin: 0vh .2vw;
}

.error_box{
    border: .1vw solid black;
    width: fit-content;
    padding: 0vh 0vw 1vh;

    box-shadow: .5vw .5vw .1vw;
}
.error_box h1{
    background-color: red;
    padding: .5vh 1vw;
    text-align: center;
}

.loading_box{
    border: 1px solid;
    width: fit-content;
    margin: auto;
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 1vw;
    overflow: hidden;
    box-shadow: .2vw .2vw .1vw #493628;
}
.loading_box h1{
    background-color: #493628;
    color: #E4E0E1;
    padding: 1vh 3vw;
}
.loading_box p{
    text-align: center;
    padding: 1vw;
}